<div style="background-color: greenyellow; width:100%; height:200px">
    **************** This is a Header *******************

</div>


@RenderBody()

<div style="background-color: aqua; width:100%; height:200px">
    **************** This is a footer *******************

</div>


@* if any page's name starts with *_* then it's
            1- special page that is made to be used in other pages
            2- no-Browseable => It will give an error if u try to run it 
    *@