@using FirstMVCApp.Models;

@{
    ViewBag.Title = "getByID";

    Employee curEmp = ViewBag.selectedEmp;

}

<h2>getByID</h2>

<h4>  ID: @curEmp.Id </h4>
<h4>  Name: @curEmp.Name </h4>
<h4>  Age: @curEmp.Age </h4>
<h4>  Email: @curEmp.Email </h4>
<a href="/Employee/getAll">Back To List</a> 
