
<h2>Please Fill out  this form</h2>




<form method="post" action="/Img/ShowDetails">
    <div>
        <label> ID: </label>
        <input type="text" name="id" />
    </div>
    <hr />
    <div>
        <label> Name: </label>
        <input type="text" name="name" />
    </div>
    <hr />
    <div>
        <label>Choose an Img:</label>

        <select name="selectedImg" style="display:block">
            <option value="1.jpg">Background_1</option>
            <option value="2.jpg">Background_2</option>
            <option value="3.jpg">Background_3</option>
            <option value="4.jpg">Background_4</option>
            <option value="5.jpg">Background_5</option>
            <option value="6.jpg">Background_6</option>
            <option value="7.jpg">Background_7</option>
        </select>

    </div>

    <input type="submit" value="Submit" />

</form>